@keyframes _red{
0%{
    background-color: red;
}
40%{
    background-color: red;
}
40%{
    background-color: grey;
}

100%{
    background-color: grey;
}
}

@keyframes _yellow{
0%{
    background-color: grey;
}

20%{
    background-color: yellow;
}
40%{
    background-color: grey;
}
80%{
    background-color: yellow;
}

100%{
    background-color: grey;
}  

}
@keyframes _green{
0%{
    background-color: grey;
}
20%{
    background-color: grey;
}
40%{
    background-color: green;
}
60%{
    background-color: grey;
}
62.5%{
    background-color: green;
}
65%{
    background-color: grey;
}
67.5%{
    background-color: green;
}
70%{
    background-color: grey;
}
72.5%{
    background-color: green;
}
75%{
    background-color: grey;
}
77.5%{
    background-color: green;
}
80%{
    background-color: grey;
}

100%{
    background-color: grey;
}
}
@keyframes _redStandby{
0%{
    background-color: grey;    
}
100%{
    background-color: grey;
}
}
@keyframes _yellowStandby{
    0%{
        background-color: grey;
    }
    5%{
        background-color: yellow;
    }
    10%{
        background-color: grey;
    }
    15%{
        background-color: yellow;
    }
    20%{
        background-color: grey;
    }
    25%{
        background-color: yellow;
    }
    30%{
        background-color: grey;
    }
    35%{
        background-color: yellow;
    }
    40%{
        background-color: grey;
    }
    45%{
        background-color: yellow;
    }
    50%{
        background-color: grey;
    }
    55%{
        background-color: yellow;
    }
    60%{
        background-color: grey;
    }
    65%{
        background-color: yellow;
    }
    70%{
        background-color: grey;
    }
    75%{
        background-color: yellow;
    }
    80%{
        background-color: grey;
    }
    85%{
        background-color: yellow;
    }
    90%{
        background-color: grey;
    }
    95%{
        background-color: yellow;
    }
    100%{
        background-color: grey;
    }
}
@keyframes _greenStandby{
    0%{
        background-color: grey;    
    }
    100%{
        background-color: grey;
    }
}